#heading {
    font-size: 25px;
    margin: 5px;
    color: blue;
    text-decoration: underline;
}

@media(min-width:576px) {
    #heading {
        font-size: 30px;
        color: blue;
        text-decoration: underline;
    }
}

@media(min-width:768px) {
    #heading {
        font-size: 36px;
        color: blue;
        text-decoration: underline;
    }
}

h4 {
    color: orangered;
    font-size: 20px;
    margin-left: 10px;
}

@media(min-width:992px) {
    h4 {
        font-size: 25px;
    }
}

table {
    border-collapse: collapse;
    margin-left: 10px;
}

td {
    width: 30px;
    height: 15px;
    border: 1px solid;
}

@media(min-width:576px) {
    td {
        width: 40px;
        height: 20px;
    }
}

@media(min-width:768px) {
    td {
        width: 60px;
        height: 20px;
    }
}

.filled {
    background-color: yellow;
}

.water {
    background-color: deepskyblue;
}